# Importation of the DB

In [1]:
import sqlite3
import pandas as pd

In [2]:
con = sqlite3.connect ("./gtfs_tag/gtfs_tag.db")

In [3]:
cur = con.cursor()

In [4]:
res = cur.execute("SELECT * FROM agency")
res.fetchone()

(1,
 'Sample Agency',
 'http://www.sampleagency.com',
 'GMT',
 'en',
 '123-456-7890',
 'http://www.samplefare.com',
 'sample@email.com')

# Entering data into the DB

## Insert data into the Agency table

In [5]:
cur.execute('''
    INSERT INTO "Agency" (
        "agency_name",
        "agency_url",
        "agency_timezone",
        "agency_lang",
        "agency_phone",
        "agency_fare_url",
        "agency_email"
    ) VALUES (?, ?, ?, ?, ?, ?, ?)
''', ('Sample Agency', 'http://www.sampleagency.com', 'GMT', 'en', '123-456-7890', 'http://www.samplefare.com', 'sample@email.com'))

# Commit the changes to the database
con.commit()

In [6]:
# Execute a SELECT query to retrieve data from the 'Agency' table
cur.execute('SELECT * FROM "Agency"')

# Fetch all the rows from the query result
rows = cur.fetchall()

# Display the retrieved data
for row in rows:
    print(row)

(1, 'Sample Agency', 'http://www.sampleagency.com', 'GMT', 'en', '123-456-7890', 'http://www.samplefare.com', 'sample@email.com')
(2, 'Sample Agency', 'http://www.sampleagency.com', 'GMT', 'en', '123-456-7890', 'http://www.samplefare.com', 'sample@email.com')
(3, 'Sample Agency', 'http://www.sampleagency.com', 'GMT', 'en', '123-456-7890', 'http://www.samplefare.com', 'sample@email.com')
(4, 'Sample Agency', 'http://www.sampleagency.com', 'GMT', 'en', '123-456-7890', 'http://www.samplefare.com', 'sample@email.com')
(5, 'Sample Agency', 'http://www.sampleagency.com', 'GMT', 'en', '123-456-7890', 'http://www.samplefare.com', 'sample@email.com')
(6, 'Sample Agency', 'http://www.sampleagency.com', 'GMT', 'en', '123-456-7890', 'http://www.samplefare.com', 'sample@email.com')
(7, 'Sample Agency', 'http://www.sampleagency.com', 'GMT', 'en', '123-456-7890', 'http://www.samplefare.com', 'sample@email.com')
(8, 'Sample Agency', 'http://www.sampleagency.com', 'GMT', 'en', '123-456-7890', 'http://www.samplefare.com', 'sample@email.com')

## Insert data into the Stops table

In [7]:
cur.execute('''
    INSERT INTO "stops" (
        "stop_code",
        "stop_name",
        "stop_desc",
        "stop_lat",
        "stop_lon",
        "zone_id",
        "stop_url",
        "location_type",
        "parent_station",
        "stop_timezone",
        "wheelchair_boarding",
        "level_id",
        "platform_code"
    ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
''', ('S001', 'Sample Stop', 'Sample description', '40.7128', '-74.0060', 1, 'http://www.samplestop.com', 'Station', 0, 'GMT', 'Yes', 1, 'A'))

# Commit the changes to the database
con.commit()

In [8]:
# Create a Pandas DataFrame with different data
data = {
    "stop_code": ['S002', 'S003', 'S004'],
    "stop_name": ['New Stop', 'Another Stop', 'Yet Another Stop'],
    "stop_desc": ['Description of the new stop', 'Description of another stop', 'Description of yet another stop'],
    "stop_lat": ['35.6895', '40.7488', '34.0522'],
    "stop_lon": ['139.6917', '-73.9857', '-118.2437'],
    "zone_id": [2, 3, 4],
    "stop_url": ['http://www.newstop.com', 'http://www.anotherstop.com', 'http://www.yetanotherstop.com'],
    "location_type": ['Station', 'Station', 'Station'],
    "parent_station": [0, 0, 0],
    "stop_timezone": ['JST', 'EST', 'PST'],
    "wheelchair_boarding": ['Yes', 'Yes', 'Yes'],
    "level_id": [2, 3, 4],
    "platform_code": ['B', 'C', 'D']
}

df = pd.DataFrame(data)

# Use Pandas to insert the DataFrame into the 'stops' table
df.to_sql('stops', con, index=False, if_exists='append')

# Commit the changes to the database
con.commit()

In [9]:
# Execute a SELECT query to retrieve data from the 'stops' table
cur.execute('SELECT * FROM "stops"')

# Fetch all the rows from the query result
rows = cur.fetchall()

# Display the retrieved data
for row in rows:
    print(row)

(1, 'S001', 'Sample Stop', 'Sample description', '40.7128', '-74.0060', 1, 'http://www.samplestop.com', 'Station', 0, 'GMT', 'Yes', 1, 'A')
(2, 'S002', 'New Stop', 'Description of the new stop', '35.6895', '139.6917', 2, 'http://www.newstop.com', 'Station', 0, 'JST', 'Yes', 2, 'B')
(3, 'S002', 'New Stop', 'Description of the new stop', '35.6895', '139.6917', 2, 'http://www.newstop.com', 'Station', 0, 'JST', 'Yes', 2, 'B')
(4, 'S003', 'Another Stop', 'Description of another stop', '40.7488', '-73.9857', 3, 'http://www.anotherstop.com', 'Station', 0, 'EST', 'Yes', 3, 'C')
(5, 'S004', 'Yet Another Stop', 'Description of yet another stop', '34.0522', '-118.2437', 4, 'http://www.yetanotherstop.com', 'Station', 0, 'PST', 'Yes', 4, 'D')
(6, 'S001', 'Sample Stop', 'Sample description', '40.7128', '-74.0060', 1, 'http://www.samplestop.com', 'Station', 0, 'GMT', 'Yes', 1, 'A')
(7, 'S002', 'New Stop', 'Description of the new stop', '35.6895', '139.6917', 2, 'http://www.newstop.com', 'Station', 0, 'JST', 'Yes', 2, 'B')
(8, 'S003', 'Another Stop', 'Description of another stop', '40.7488', '-73.9857', 3, 'http://www.anotherstop.com', 'Station', 0, 'EST', 'Yes', 3, 'C')
(9, 'S004', 'Yet Another Stop', 'Description of yet another stop', '34.0522', '-118.2437', 4, 'http://www.yetanotherstop.com', 'Station', 0, 'PST', 'Yes', 4, 'D')
(10, 'S001', 'Sample Stop', 'Sample description', '40.7128', '-74.0060', 1, 'http://www.samplestop.com', 'Station', 0, 'GMT', 'Yes', 1, 'A')
(11, 'S002', 'New Stop', 'Description of the new stop', '35.6895', '139.6917', 2, 'http://www.newstop.com', 'Station', 0, 'JST', 'Yes', 2, 'B')
(12, 'S003', 'Another Stop', 'Description of another stop', '40.7488', '-73.9857', 3, 'http://www.anotherstop.com', 'Station', 0, 'EST', 'Yes', 3, 'C')
(13, 'S004', 'Yet Another Stop', 'Description of yet another stop', '34.0522', '-118.2437', 4, 'http://www.yetanotherstop.com', 'Station', 0, 'PST', 'Yes', 4, 'D')
(14, 'S001', 'Sample Stop', 'Sample description', '40.7128', '-74.0060', 1, 'http://www.samplestop.com', 'Station', 0, 'GMT', 'Yes', 1, 'A')
(15, 'S002', 'New Stop', 'Description of the new stop', '35.6895', '139.6917', 2, 'http://www.newstop.com', 'Station', 0, 'JST', 'Yes', 2, 'B')
(16, 'S003', 'Another Stop', 'Description of another stop', '40.7488', '-73.9857', 3, 'http://www.anotherstop.com', 'Station', 0, 'EST', 'Yes', 3, 'C')
(17, 'S004', 'Yet Another Stop', 'Description of yet another stop', '34.0522', '-118.2437', 4, 'http://www.yetanotherstop.com', 'Station', 0, 'PST', 'Yes', 4, 'D')
(18, 'S001', 'Sample Stop', 'Sample description', '40.7128', '-74.0060', 1, 'http://www.samplestop.com', 'Station', 0, 'GMT', 'Yes', 1, 'A')
(19, 'S002', 'New Stop', 'Description of the new stop', '35.6895', '139.6917', 2, 'http://www.newstop.com', 'Station', 0, 'JST', 'Yes', 2, 'B')
(20, 'S003', 'Another Stop', 'Description of another stop', '40.7488', '-73.9857', 3, 'http://www.anotherstop.com', 'Station', 0, 'EST', 'Yes', 3, 'C')
(21, 'S004', 'Yet Another Stop', 'Description of yet another stop', '34.0522', '-118.2437', 4, 'http://www.yetanotherstop.com', 'Station', 0, 'PST', 'Yes', 4, 'D')
(22, 'S001', 'Sample Stop', 'Sample description', '40.7128', '-74.0060', 1, 'http://www.samplestop.com', 'Station', 0, 'GMT', 'Yes', 1, 'A')
(23, 'S002', 'New Stop', 'Description of the new stop', '35.6895', '139.6917', 2, 'http://www.newstop.com', 'Station', 0, 'JST', 'Yes', 2, 'B')
(24, 'S003', 'Another Stop', 'Description of another stop', '40.7488', '-73.9857', 3, 'http://www.anotherstop.com', 'Station', 0, 'EST', 'Yes', 3, 'C')
(25, 'S004', 'Yet Another Stop', 'Description of yet another stop', '34.0522', '-118.2437', 4, 'http://www.yetanotherstop.com', 'Station', 0, 'PST', 'Yes', 4, 'D')
(26, 'S001', 'Sample Stop', 'Sample description', '40.7128', '-74.0060', 1, 'http://www.samplestop.com', 'Station', 0, 'GMT', 'Yes', 1, 'A')
(27, 'S002', 'New Stop', 'Description of the new stop', '35.6895', '139.6917', 2, 'http://www.newstop.com', 'Station', 0, 'JST', 'Yes', 2, 'B')
(28, 'S003', 'Another Stop', 'Description of another stop', '40.7488', '-73.9857', 3, 'http://www.anotherstop.com', 'Station', 0, 'EST', 'Yes', 3, 'C')
(29, 'S004', 'Yet Another Stop', 'Description of yet another stop', '34.0522', '-118.2437', 4, 'http://www.yetanotherstop.com', 'Station', 0, 'PST', 'Yes', 4, 'D')
(30, 'S001', 'Sample Stop', 'Sample description', '40.7128', '-74.0060', 1, 'http://www.samplestop.com', 'Station', 0, 'GMT', 'Yes', 1, 'A')
(31, 'S002', 'New Stop', 'Description of the new stop', '35.6895', '139.6917', 2, 'http://www.newstop.com', 'Station', 0, 'JST', 'Yes', 2, 'B')
(32, 'S003', 'Another Stop', 'Description of another stop', '40.7488', '-73.9857', 3, 'http://www.anotherstop.com', 'Station', 0, 'EST', 'Yes', 3, 'C')
(33, 'S004', 'Yet Another Stop', 'Description of yet another stop', '34.0522', '-118.2437', 4, 'http://www.yetanotherstop.com', 'Station', 0, 'PST', 'Yes', 4, 'D')
(34, 'S001', 'Sample Stop', 'Sample description', '40.7128', '-74.0060', 1, 'http://www.samplestop.com', 'Station', 0, 'GMT', 'Yes', 1, 'A')
(35, 'S002', 'New Stop', 'Description of the new stop', '35.6895', '139.6917', 2, 'http://www.newstop.com', 'Station', 0, 'JST', 'Yes', 2, 'B')
(36, 'S003', 'Another Stop', 'Description of another stop', '40.7488', '-73.9857', 3, 'http://www.anotherstop.com', 'Station', 0, 'EST', 'Yes', 3, 'C')
(37, 'S004', 'Yet Another Stop', 'Description of yet another stop', '34.0522', '-118.2437', 4, 'http://www.yetanotherstop.com', 'Station', 0, 'PST', 'Yes', 4, 'D')

## Importing the data from the Tag website and creation of the DF

### importing trips

In [10]:
import zipfile
# Specify the path to the GTFS zip file
gtfs_zip_path = 'SEM-GTFS.zip'

# Specify the file within the zip archive you want to read (e.g., 'trips.txt')
file_within_zip = 'trips.txt'

# Open the zip file
with zipfile.ZipFile(gtfs_zip_path, 'r') as zip_ref:
    # Extract the specified file from the zip archive
    with zip_ref.open(file_within_zip) as file:
        # Read the CSV file into a Pandas DataFrame
        df_trips = pd.read_csv(file)

# Display the DataFrame
print(df_trips.head())

  route_id   trip_id                       trip_headsign  \
0        B  28181405                    Grenoble, Oxford
1       20  27743870             Veurey-Voroize, La Rive
2        B  28232978                    Grenoble, Oxford
3        7  27973488  Gières, Universités - IUT - UFRAPS
4        6  27785252  Saint-Martin-d'Hères, Henri Wallon

                                          service_id  direction_id  shape_id  \
0                        12345-MGHLV10_ST0_10_HI2324             1   SEM_B_2
1                        12345-MSILV00_ST21_0_HI2324             1  SEM_20_2
2  12345-MGHLV12_ST0_12_HI2324-MGHLV13_ST0_13_HI2324             1   SEM_B_2
3                        12345-MSILV00_ST21_0_HI2324             0  SEM_C7_1
4  1234567-MSHSAH05_ST5_5_HI2324-MSHSAH06_ST5_6_H...             1  SEM_C6_1

   wheelchair_accessible  bikes_allowed
0                      1              2
1                      1              2
2                      1              2
3                      1              2
4                      1              2

### importing stoptimes

In [11]:
# Specify the file within the zip archive you want to read (e.g., 'stop_times.txt')
file_within_zip = 'stop_times.txt'

# Open the zip file
with zipfile.ZipFile(gtfs_zip_path, 'r') as zip_ref:
    # Extract the specified file from the zip archive
    with zip_ref.open(file_within_zip) as file_stop_times:
        # Read the CSV file into a Pandas DataFrame
        df_stop_times = pd.read_csv(file_stop_times)

# Display the DataFrame
print(df_stop_times.head())

    trip_id  stop_id arrival_time departure_time  stop_sequence  pickup_type
0  27647213     1297     12:31:00       12:31:00              1            0
1  27647213     1296     12:32:00       12:32:00              2            0
2  27647213     1294     12:34:00       12:34:00              3            0
3  27647213     1293     12:35:00       12:35:00              4            0
4  27647213     1548     12:36:00       12:36:00              5            0

### Entering the data from the DF in to the BDD

In [12]:
df_trips

,route_id,trip_id,trip_headsign,service_id,direction_id,shape_id,wheelchair_accessible,bikes_allowed
0,B,28181405,"Grenoble, Oxford",12345-MGHLV10_ST0_10_HI2324,1,SEM_B_2,1,2
1,20,27743870,"Veurey-Voroize, La Rive",12345-MSILV00_ST21_0_HI2324,1,SEM_20_2,1,2
2,B,28232978,"Grenoble, Oxford",12345-MGHLV12_ST0_12_HI2324-MGHLV13_ST0_13_HI2324,1,SEM_B_2,1,2
3,7,27973488,"Gières, Universités - IUT - UFRAPS",12345-MSILV00_ST21_0_HI2324,0,SEM_C7_1,1,2
4,6,27785252,"Saint-Martin-d'Hères, Henri Wallon",1234567-MSHSAH05_ST5_5_HI2324-MSHSAH06_ST5_6_H...,1,SEM_C6_1,1,2
...,...,...,...,...,...,...,...,...
21593,14,28009100,"Grenoble, Verdun - Préfecture",12345-MAHLV00_ST0_0_HI2324,0,SEM_14_5,1,2
21594,1,27772235,"Montbonnot-Saint-Martin, Pré de l'Eau",12345-MSHLVH02_ST8_2_HI2324-MSHLVH03_ST8_3_HI2...,0,SEM_C1_6,1,2
21595,A,28214871,"Le Pont-de-Claix, L'Etoile",1234567-MEHS03_ST5_3_HI2324,0,SEM_A_3,1,2
21596,15,28216881,"Grenoble, Verdun - Préfecture",1234567-MAHD02_ST6_2_HI2324,1,SEM_15_10,1,2
21597,E,28171418,"Fontanil-Cornillon, Palluel",12345-MGHLV14_ST0_14_HI2324,1,SEM_E_1,1,2

In [39]:
# import os
# os.getcwd()

'/home/shahaf.hen@Digital-Grenoble.local/cood/notebooks_all_modules/BDD'

In [13]:
df_trips.to_sql('Trips', con, index=False, if_exists='append')

21598

In [14]:
df_stop_times.to_sql('stop_times', con, index=False, if_exists='append')

499438

## The functions to enter data into BDD

In [26]:
"""this function creates the following string:
    "INSERT INTO trips VALUES (value1, value2, ..., valuen)"
    inputs :    table_name = a string
                a_dict = a dict like {attribut1:value1, attribut2:value2, ... attributn : valuen}
                whith attribut=variable from the db table and the txt file
    """
def create_an_query(table_name:str, a_dict:dict):
    a_tuple=tuple(list(a_dict.values()))
    return f"INSERT INTO {table_name} VALUES {a_tuple};"

In [27]:
#Check if it works
sampul_dict = {'attribut1':'value1', 'attribut2':'value2'}

create_an_query('shahaf', sampul_dict)

"INSERT INTO shahaf VALUES ('value1', 'value2');"

In [28]:
 """this function use the previous one to get the following list of strings :
    ["INSERT INTO trips VALUES (value1, value2, ..., valuen)",  =>values of the first item of the table
     "INSERT INTO trips VALUES (value1, value2, ..., valuen)",  =>values of the second item of the table
     "INSERT INTO trips VALUES (value1, value2, ..., valuen)"]  =>etc etc
    inputs :    tablename = a string of the db table
                df = a dataframe with the values to add to the db
    """
def get_insert_queries(tablename:str, df: pd.DataFrame) -> list:
   
    #first step : transform the df rows into a list of dict (like a_dict in the previous function)
    df_dict = [] 
    for index_row in range(len(df)) :
        df_dict.append(df.iloc[index_row].to_dict())
    #second step : create a list of queries with the list of a_dict
    list_queries=[]
    for index_dict in range(len(df_dict)):
        list_queries.append(create_an_query(tablename, df_dict[index_dict]))
    return list_queries

In [29]:
def gen_insert_file(filename:str, tablename:str, df:pd.DataFrame):
    
    ligne0='BEGIN TRANSACTION;'
    lignefin='COMMIT;'
    
    ligne1=f'''CREATE TABLE IF NOT EXISTS {tablename} (
        route_id TEXT NOT NULL,             
        trip_id TEXT NOT NULL, 
        service_id TEXT NOT NULL,
        trip_headsign TEXT NULL,
        direction_id TEXT,
        shape_id TEXT NULL,
        wheelchair_accessible TEXT NULL,
        bikes_allowed TEXT NULL,
	CONSTRAINT "trips_pkey" PRIMARY KEY("trip_id")
    );'''
    serie_lignes=get_insert_queries(tablename, df)
    with open(filename, 'w') as f :
        f.write(ligne0)
        f.write(ligne1)
        for index_serie in range(len(serie_lignes)):
            f.write(serie_lignes[index_serie])
        f.write(lignefin)

In [30]:
#the path to the data files and the db file
pathdata = "SEM-GTFS.zip"
pathdb = "gtf_tag.db"

In [31]:
#connexion to the db
con = sqlite3.connect ("./gtfs_tag/gtfs_tag.db")

In [32]:
pathdata

'SEM-GTFS.zip'

In [33]:
from zipfile import ZipFile  # Import the ZipFile class
# Assuming you have a DataFrame named df_trips_update and a database connection con
with ZipFile(pathdata) as z:
    with z.open("trips.txt") as f:
        df_trips_update = pd.read_csv(f).astype(str).iloc[0:10]

In [34]:
#df with the values to add to the db /!\ just keep the 10 first values to be faster
df_trips_update = pd.read_csv(ZipFile(pathdata).open("trips.txt")).astype(str).iloc[0:10]

In [35]:
#delete of the temporary db table "trips_test" 
con.execute('DROP TABLE IF EXISTS trips_test')

In [36]:

#creation of the temporary db table "trips_test" (test)
con.execute('CREATE TABLE IF NOT EXISTS stoptimes_test (trip_id, stop_id, arrival_time, departure_time, stop_sequence, pickup_type)')

#creation of a query (test)
#get_insert_queries("stoptimes_test", df_stops_update.iloc[0].to_dict()) #ça marche 

#creation of a list of queries (test)
#get_insert_queries("stoptimes_test", df_stops_update.iloc[0:5]) #ça marche

# creation of the sql file 
gen_insert_file("insert_trips.sql", "trips_test", df_trips_update) #ça marche

#execution of the sql file in the db
with open("insert_trips.sql", 'r') as sql_file:
    sql_script = sql_file.read()
cursor = con.cursor()
cursor.executescript(sql_script)


#merge the temporary db table "trips_test" with the original table "trips"
con.execute('''
    INSERT INTO trips(route_id,trip_id,trip_headsign,service_id,direction_id,shape_id,wheelchair_accessible,bikes_allowed)
    SELECT
        trips_test.route_id,
        trips_test.trip_id,
        trips_test.trip_headsign,
        trips_test.service_id,
        trips_test.direction_id,
        trips_test.shape_id,
        trips_test.wheelchair_accessible,
        trips_test.bikes_allowed
    FROM
        trips_test
    WHERE NOT EXISTS (
        SELECT 1 FROM trips WHERE trips.trip_id = trips_test.trip_id
    )
''')

#delete the temporary db table
# con.execute('DROP TABLE IF EXISTS trips_test')

#save the changes to the db
con.commit()

#close the db
con.close()

In [35]:
!where

/bin/bash: line 1: where: command not found